<% include partials/header %>

<div class="container">
    <br />
    <h2>login</h2>
    <br />
    <form action="/" method="POST">
        <div class="form-group">
            <label for="username">username:</label>
            <br />
            <input type="text" class="form-control col-md-4" id="username" placeholder="Enter username" name="username">
        </div>
        <br />
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control col-md-4" id="password" placeholder="Enter password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">login</button>
    </form>
</div>
      
<% include partials/footer %>
